/* Styling form and resume sections */

body {
    font-family: Arial, sans-serif;
    margin: 15px;
    padding: 0;
    background-color: white;
}

form {
    margin: auto;
    background-color: rgba(162, 238, 228, 0.829);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(26, 219, 19, 0.5);
    padding: 25px;
    max-width: 700px;
    border: 2px solid rgb(68, 211, 115);
}

h1 {
    text-align: center;
    color: black;
}

fieldset {
    border: 2px solid rgb(19, 241, 119);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(226, 253, 231, 0.945);
}

legend {
    font-weight: bold;
    text-align: left;
    color: rgb(34, 29, 29);
}

label {
    display: block;
    margin-top: 8px;
    color: black;

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid rgb(19, 241, 119);
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    display: block;
    width: 100%;
    background-color: rgb(130, 243, 177);
    color: black;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}
button :hover {
    color: rgb(20, 6, 146);
}

#resume-display {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(68, 211, 115);
    border-radius: 8px;
    background-color: rgba(162, 238, 228, 0.829);
    box-shadow: 0 4px 8px rgba(26, 219, 19, 0.5);
}

#resume-display h3 {
    color: black;
    text-align: left;
    text-decoration-line: underline;
}
